.navigationContainer {
  &.navigation {
    background-color: var(--color-primary-dark);
  }

  .navigationItem {
    font-family: var(--font-primary);
    color: var(--color-light);
    text-transform: none;
    font-size: 1.2rem;
    
    @media (max-width: 960px) {
      display: none;
    }
  }

  .menuIcon {
    color: var(--color-light);
    display: none;

    @media (max-width: 960px) {
      display: block;
    }
  }
}
