.headerContainer {
  height: 450px;
  position: relative;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/temida.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  background-blend-mode: multiply;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

  color: var(--color-light);
  text-align: center;

  @media (max-width: 1000px) {
    padding: 3rem 4rem;
  }

  @media (max-width: 500px) {
    padding: 3rem 2rem;
  }
}

.titleIcon {
  width: 75px;
  fill: var(--color-light);
}

.quote {
  position: absolute;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;

  q {
    &::before {
      position: relative;
      font-size: 4rem;
      top: 10px;
      right: 5px;
    }

    &::after {
      position: relative;
      font-size: 4rem;
      top: 10px;
    }
  }
}

.title {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: var(--weight-regular);
}

.mainText {
  font-size: 1.4rem;
}
