.headerContainer {
  height: 450px;
  position: relative;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/temida.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  background-blend-mode: multiply;
  background-attachment: fixed;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

  color: var(--color-light);
  text-align: center;

  @media (max-width: 1000px) {
    height: 400px;
    background-position: center;
  }

  @media (max-width: 500px) {
    height: 300px;
  }
}

.quote {
  position: absolute;
  right: 5rem;
  margin: 0;

  @media (max-width: 1000px) {
    right: 1rem;
  }

  top: 50%;
  transform: translateY(-50%);
  text-align: right;

  .title {
    margin-bottom: 1rem;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: var(--weight-regular);

    @media (max-width: 1000px) {
      font-size: 2.2rem;
      margin-bottom: 0.5rem;
    }

    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }

  .subtitle {
    font-size: 1.4rem;

    @media (max-width: 1000px) {
      font-size: 1.2rem;
    }
  }
}

