.headerContainer {
  padding: 6rem 8rem;
  position: relative;

  background-color: var(--color-primary);
  //background-image: url("../../assets/katowice.jpeg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;
  //background-blend-mode: overlay;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);


  color: var(--color-light);
  text-align: center;
}

.titleIcon {
  width: 75px;
  fill: var(--color-light);
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: var(--weight-regular);
}

.mainText {
  font-size: 1.2rem;
  line-height: 1.5;
}