.container {
  display: flex;
}

.contactTitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: var(--weight-bold);
}

.contactItem {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.itemIcon:global(.MuiSvgIcon-root) {
  font-size: 2rem;
  width: 4rem;
}
